<style>
  table, tr, th{
      border: 2px;
      border-collapse: collapse;
      color: #edd6a7;
  }
  tr, th{
    padding: 5px;
    text-align: left;
    font-family: "Bender";
    font-size: 25px;
    color: #edd6a7
  }
  h2{
    color: #edd6a7;
    font-family: "Bender";
    font-size: 40px;
  }
</style>

<div class="container">
  <h2>Projects:</h2>
  <table class="table table-hover table-dark table-striped">
    <thead class="thead-warning">
      <tr>
        <th>Title</th>
        <th>Team</th>
      </tr>
    </thead>
    <tbody>
      <% @projects.each do |project| %>
        <tr>
          <td><a href = "/projects/<%= project.id %>"><%= project.title %></a></td>
          <td><%= project.team_id%></td>
        </tr>
      <%end%> 
    </tbody>
  </table>
</div>