<style>
  table, tr, th{
      border: 2px;
      border-collapse: collapse;
      color: #edd6a7;
  }
  tr, th{
    padding: 5px;
    text-align: left;
    font-family: "Bender";
    font-size: 25px;
    color: #edd6a7;
  }
  h2{
    font-family: "Bender";
    font-size: 40px;
  }
  a{
    text-decoration: none;
    color: #1f2833;
  }
  a:hover{
    text-decoration: none;
    color: #1f2833;
  }
</style>

<div class="container">
  <h2 style="color: #66fcf1">Projects:</h2>
  <table bgcolor="#c5c6c7" class="table table-hover table-striped">
    <thead class="thead-dark">
      <tr>
        <th style="color: #66fcf1">Title</th>
        <th style="color: #66fcf1">Team</th>
      </tr>
    </thead>
    <tbody>
      <% @projects.each do |project| %>
        <tr>
          <td><a href = "/projects/<%= project.id %>"><%= project.title %></a></td>
          <td><%= project.team_id%></td>
        </tr>
      <%end%> 
    </tbody>
  </table>
</div>