<!DOCTYPE html>
  <html lang="en">
    <head>
    	<title>Placeholder</title>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <link rel="stylesheet" type="text/css" href="signup_css.css">
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    </head>

    <body>
    	<div class="bg">
    		<div class="text-center">
    			<div class="typewriter">
    				<br>
    				<h1> Create a Placeholder account!</h1>
				</div>
    			<br>
        	</div>
        	<nav  class="nav flex-column">
		          <ul class="navbar-nav">
		              <li class="nav-item">
		                <a href="web_nachalna.html" class="previous round">&#8249;</a>
		              </li>
		          </ul>
          	</nav>
    		<br>
    		<br>
    		<br>
    		<br>
    		<ul style="list-style-type:none;">
    				<li>
		    			<input type="text"class="form-control" placeholder="Email" required>
		    		</li>
		    		<br>
		    		<li>
		    			<input type="text" class="form-control" placeholder="Username">
		    		</li>
		    		<br>
		    		<li>
	  					<input type="password" class="form-control" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" placeholder="Password" required>
		    		</li>
		    		<br>
		    		<div class="row">
			    		<div class="center-block">
			    			<input type="submit" type="button" class="btn btn-dark" value="Signup">
		    			</div>
	    			</div>
    		</ul>
    	</div>
    </body>