body, html {
  height: 100%;
  margin: 0;
}

header {
  background-color: black;
  padding: 60px;
  text-align: center;
  font-size: 35px;
  color: white;
}
.bg{
    background-color: #edd6a7;
}
footer {
  background-color: black;
  padding: 10px;
  text-align: center;
  color: white;
  font-family: "Bender";
}

nav{
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #a6a6a6;
  border-color: black;
  padding: 0px 60px
}

.previous{
  display: inline-block;
    padding: 8px 16px;
    color:#A66500;
}

a:hover{
  background-color: #ddd;
    color: black;
}

.round {
  border-radius: 50%;
}

.bg {
    /*background-image: url("main2.png");*/
    background-color: white;
    height: 100%; 
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-center{
  color: #E6E3DD;
  font-family: "Bender";
  font-size: 50px;
}

li{
  font-family: "Bender";
  margin:0px auto 0px auto;
  text-align: center;
  color: white;
  width: 14.4%;
}

li input {
  border: 5px solid  black;
  border-radius: 8px;
}

.center-block{
    margin: auto;
    font-family: "Bender";
}

.typewriter h1 {
  font-size: 60px;
  color: white;
  font-family: "Bender";
  overflow: hidden;
  border-right: .15em solid black;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 50% }
}

@keyframes blink-caret {
  from, to { border-color: black}
  45% { border-color: black }
}