body, html {
    height: 100%;
    margin: 0;
  }

footer {
  background-color: black;
  padding: 10px;
  text-align: center;
  color: #66fcf1;
  font-family: "Bender";
}

nav{
  background-color: black;
  border-color: black;
}
 
.jumbotron{
  color: #66fcf1;
  background-color: #c5c6c7;
  opacity: 0.8;
}

.bg {
  background-image: url("main.jpg");
  height: 100%; 
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-center{
  color: #66fcf1;
  font-family: "Bender";
  font-size: 100px;
}

.center-block{
    margin: auto;
    font-family: "Bender";
}

.nav-link{
  color: #E6E3DD;
  font-family: "Bender";
  font-size: 20px;
}

.title{
  font-size: 30px;
  color: #1f2833;
}

.centered{
  display: flex;
  justify-content: center;
}

@media (min-width: 971px) and (max-width: 1920px) {
  .card{
  background-color: rgb(255,255,255,0.6);
  border-radius: 5px;
  margin-right: 5px;
  width: 320px;
  height: 80px;
  text-align: center;
  font-size: 30px;
  font-family: "Bender";
}

  #card1:hover {
    border-color: black;
    width: 450px;
    height: 150px;
    text-align: center;
  }

  #card2:hover {
    border-color: black;
    width: 450px;
    height: 150px;
    text-align: center;
  }
  #card3:hover {
    border-color: black;
    width: 450px;
    height: 150px;
    text-align: center;
  }
  #text1{
    display: none;
  }
  #text2{
    display: none;
  }
  #text3{
    display: none;
  }
  #card1:hover #text1 {
    display:block;
    font-size: 20px;
    color: #66fcf1;
    text-align: center;
  }

  #card2:hover #text2{
    display:block;
     font-size: 20px;
     color: #66fcf1;
    text-align: center;
  }
  #card3:hover #text3{
    display:block;
     font-size: 20px;
     color: #66fcf1;
    text-align: center;
  }  
}

@media (min-width: 750px) and (max-width: 970px) {
  .card{
  background-color: rgb(255,255,255,0.4);
  border-radius: 5px;
  margin-bottom: 10px;
  width: 800px;
  height: 70px;
  text-align: center;
  font-size: 30px;
}

  #card1:hover {
    border-color: black;
    width: 800px;
    height: 80px;
    text-align: center;
  }

  #card2:hover {
    border-color: black;
    width: 800px;
    height: 80px;
    text-align: center;
  }
  #card3:hover {
    border-color: black;
    width: 800px;
    height: 80px;
    text-align: center;
  }
  #text1{
    display: none;
  }
  #text2{
    display: none;
  }
  #text3{
    display: none;
  }
  #card1:hover #text1 {
    display:block;
    font-size: 20px;
     color: #A66500;    
    text-align: center;
  }

  #card2:hover #text2{
    display:block;
    font-size: 20px;
    color: #A66500;
    text-align: center;
  }
  #card3:hover #text3{
    display:block;
    font-size: 20px;
    color: #A66500;
    text-align: center;
  } 
}


