body{
	height: 100%;
	width: 100%;
}
a {
  display: inline-block;
  padding-left: 20px;
}
a:hover{
	background-color: #c4b28f;
	color: #E6E3DD;
	padding: 8px 16px;
}
.previous {
  background-color: #f1f1f1;
  color: black;
}
.round {
  border-radius: 50%;
}

#description{
	font-family: "Bender";
	font-size: 35px;
}
#members{
	font-family: Bender;
	font-size: 35px;
}
h2{
	font-family: "Bender";
	font-size: 35px;
}

.modal-title{
	color: black;
	font-size: 40px;
	font-family: "Bender";
}
.modal-body{
	color: black;
	font-size: 30px;
	font-family: "Bender";
}
button{
	font-family: "Bender";
}
footer {
	background-color: black;
	padding: 10px;
	text-align: center;
	color: #66fcf1;
	font-family: "Bender";
}

#kaban {
    float: left;
    position: relative;
    width: 100%;
    height: 70vh;
    overflow-x: scroll;
}

#scroller {
    float: left;
    position: relative;
    width: 100%;
    height: auto;
    overflow: auto;
}

#boards {
    float: left;
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}

.board {
    float: left;
    position: relative;
    width: 300px;
    height: auto;
    margin: 8px;
    background-color: lightgray;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.2);
}

.board > .input-group, .board > #empty {
    width: 90%;
    margin: auto;
}

.board header {
    float: left;
    width: 100%;
    padding: .5em;
    background-color: lightgray;
    text-transform: uppercase;
    border-radius: 3px 3px 0 0;
}

.cards {
    list-style-type: none;
    float: left;
    width: 100%;
    padding: 4px 8px;
}

.card {
    float: left;
    width: 100%;
    height: auto;
    background-color: white;
    padding: 10px;
    margin: 4px 0;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.2);
    cursor: move;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
}

.cardtitle {
    float: left;
    width: 100%;
}

.cards .is-moving {
    background-color: white;
    color: black
}

.gu-mirror {
    cursor: move;
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: grabbing;
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 1;
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
}

.gu-hide {
    display: none !important;
}

.gu-transit {
    opacity: 0.4;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
}

div.test{
	opacity: 0;
  	filter: alpha(opacity=100); 
  }