body{
	height: 100%;
	width: 100%;
}
a {
  display: inline-block;
  padding-left: 20px;
}
a:hover{
	background-color: #c4b28f;
	color: #E6E3DD;
	padding: 8px 16px;
}
.previous {
  background-color: #f1f1f1;
  color: black;
}
.round {
  border-radius: 50%;
}

table{
	border-collapse: collapse;
	border: 2px;
}
#description{
	font-family: "Bender";
	font-size: 35px;
}
#members{
	font-family: Bender;
	font-size: 35px;
}
h2{
	font-family: "Bender";
	font-size: 35px;
}
.modal-title{
	color: black;
	font-size: 40px;
	font-family: "Bender";
}
.modal-body{
	color: black;
	font-size: 30px;
	font-family: "Bender";
}
button{
	font-family: "Bender";
}
footer {
	background-color: black;
	padding: 10px;
	text-align: center;
	color: #66fcf1;
	font-family: "Bender";
}