body, html {
		height: 100%;
		margin: 0;
}

nav{
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: black;
  border-color: black;
  padding: 0px 60px
}

.previous{
	display: inline-block;
		padding: 8px 16px;
		color:#A66500;
}

a:hover{
	background-color: #ddd;
		color: #E6E3DD;
}

.round {
  border-radius: 50%;
}

.bg {
  	background-image: url("main2.png");
  	height: 100%; 
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}

.text-center{
  color: #E6E3DD;
  font-family: "Bender";
  font-size: 50px;
}

li{
  font-family: "Bender";
  margin:0px auto 0px auto;
  text-align: center;
  border: 5px solid  black;
  border-radius: 8px;
  color: white;
  width: 20%;
}

.center-block{
    margin: auto;
    font-family: "Bender";
} 

.typewriter h1 {
  color: #E6E3DD;
  font-family: "Bender";
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid white; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 50% }
}

@keyframes blink-caret {
  from, to { border-color: #F9A625}
  45% { border-color: #F9A625 }
}