body, html {
    height: 100%;
    width: 100%;
    margin: 0;
  }

/* PC */
@media (min-width: 971px) and (max-width: 1920px) 
 { 
  .bg {
    background-color: black;
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .sidebar{
    background-color: white;
    height: 100%;
    overflow: auto;
    margin: 0;
    padding: 0;
    width: 200px;
    position: fixed;
  }
 .text-center{
    color: #E6E3DD;
    font-family: "Bender";
  }
  .btn{
    font-family: "Bender";
    font-size: 20px;

  }
  article {
    float: right;
    width: 85%;
  }
  .center-block{
      margin: auto;
      font-family: "Bender";
  }

  .navbar-brand{
    color: #E6E3DD;
    font-family: "Bender";
  }
  .modal-body{
    color: #A66500;
  }

  .modal-footer{
    font-size: 20px;
  }

  .modal-title{
    color: #A66500;
    font-size: 40px;
  }

}
/* tablet */
@media (min-width: 750px) and (max-width: 970px) 
 { 
  .bg {
    background-color: black;
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .sidebar{
    background-color: white;
    height: 100%;
    overflow: auto;
    margin: 0;
    padding: 0;
    width: 200px;
    position: fixed;
  }

  .text-center{
    color: #E6E3DD;
    font-family: "Bender";
    font-size: 100px;
  }
  .card{
    font-family: "Bender";
    font-size: 50px;
    color: #A66500;
  }
  ol{
    font-family: "Bender";
    font-size: 50px;
    color: #E6E3DD;
  }
  .center-block{
      margin: auto;
      font-family: "Bender";
  }

  .navbar-brand{
    color: #E6E3DD;
    font-family: "Bender";
  }
  .modal-body{
    color: #A66500;
  }
}
@media (min-width: 0px) and (max-width: 750px) 
 { 
  .bg {
    background-color: black;
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .sidebar{
    background-color: white;
    height: 100%;
    overflow: auto;
    margin: 0;
    padding: 0;
    width: 200px;
    position: fixed;
  }

  .text-center{
    color: #E6E3DD;
    font-family: "Bender";
    font-size: 100px;
  }
  .card{
    font-family: "Bender";
    font-size: 50px;
    color: #A66500;
  }
  ol{
    font-family: "Bender";
    font-size: 50px;
    color: #E6E3DD;
  }
  .center-block{
      margin: auto;
      font-family: "Bender";
  }
  .navbar-brand{
    color: #E6E3DD;
    font-family: "Bender";
  }
  .modal-body{
    color: #A66500;
  }
}