<%= form_with(model: @team, local: true) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <br>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
