<style>
	table, tr, th{
	  	border: 2px;
	  	border-collapse: collapse;
	  	color: #edd6a7;
	}
	tr, th{
	  padding: 5px;
	  text-align: left;
	  font-family: "Bender";
	  font-size: 25px;
    color: #edd6a7
	}
  h2{
    color: #edd6a7;
    font-family: "Bender";
    font-size: 40px;
  }
</style>

<div class="container">
  <h2>Teams:</h2>
  <table class="table table-hover table-warning table-striped">
    <thead class="thead-dark">
      <tr>
        <th style="color: #edd6a7">Name</th>
      </tr>
    </thead>
    <tbody>
      <% @teams.each do |team| %>
        <tr>
          <td><a href = "/teams/<%= team.id %>"><%= team.name %></a></td>
        </tr>
      <%end%> 
    </tbody>
  </table>
</div>